<div class="container">
  <div class="row">
    <div class="col-6 mt-3 mx-auto px-5">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <h3>
          <%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:
        </h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @user do |f| %>
      <div class="form-group">
        <p>Name</p>
        <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control" %>
      <div class="form-group">
      </div>
        <p>Image</p>
        <%= f.file_field :profile_image, accept: "image/*" %>
      <div class="form-group">
      </div>
        <p>Introduction</p>
        <%= f.text_area :introduction, class: "form-control" %>
      <div class="form-group">
      </div>
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>